page-your-pets {

}

.btn-alignment{
  margin-top: 30px;
}

.truncate{
  overflow: hidden;
  white-space: initial;
  text-overflow: ellipsis;
  max-height: 4.4em;
  line-height: 1.5em;
}

.pet_image{
  object-fit: contain; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  position: relative;
  top: 0;
  left:0;
  padding-bottom: 10px;
  float: left;
}

/* Mobile screens */
@media only screen and (max-device-width: 768px){

  .pet_image{
    object-position: center;
    height: 300px;
    width: 100%;
  }

  .truncate{
    width: 100%;
  }

  .title-alignment{
    margin-top: 350px;
  }
}

/* Laptop or tablet screens */
@media only screen and (min-device-width: 769px){
  .pet_image{
    object-position: left;
    height: 150px;
    width: 40%;
  }

  .card_content{
    display: inline;
  }

  .truncate{
    width: 50%;
  }
}
