<ion-header>
  <ion-toolbar>
    <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>Your Pets</ion-title>
    <ion-buttons end>
      <ion-button (click)="addPet()">
        ADD
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let pet of allPetsArray">
    <ion-card-header>
      <img [src]="pet.avatarUrl" />
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-card-title>{{ pet.name }}</ion-card-title>
        <p>{{ pet.description }}</p>
        <div>
          <button ion-button clear small >Edit Pet</button>
          <button ion-button clear small color="danger" >Delete</button>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
