page-add-image {

}

.photo_btn{
  height: 50px;
  font-size: 30px;
}
.divider{
  width: 5px;
  height: 200px;
  display:inline-block;
}

.btn_photo_placement{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
